.App {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}
.App-container {
  margin: 0 auto;
  max-width: 640px;
}

.canvas {
  position: relative;
  margin: 50px auto 0px auto;
}

.Stromcek svg {
  max-width: 640px;
  width: 100%;
  height: auto;
}

.ground {
  position: relative;
}
.photo {
  position: absolute;
  bottom: 0;
  left: 20px;
  height: 10px;
  width: 100px;
  display: inline-block;
}
