.sticky-EE {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.EE-Counter {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 5em;
  height: 2em;
  display: flex;
  align-items: center;
}

.EE-Counter IMG.candle {
  height: 2em;
  width: 2em;
}

.EE-image {
  width: 50vw;
  max-width: 400px;
}

.EE-text {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  font-style: italic;
  font-weight: bold;
  color: #fff; 
  display: inline;
  padding: 0.5rem;
  text-shadow: 0 1px 0 black;
  
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.EE-final-image {
  position: fixed;
  top: 3em;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 200;
  max-width: 90%;
}